body {
    background-color: #fcfcf5;
    font-family: 'RocknRoll One', sans-serif;
}

#movie {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#question {
    width: 650px;
    height: 175px;
    border-radius: 25px;
    margin-top: 50px;
    max-width: 64em;
    display: block;
    margin: 0 auto;
    padding: 25px
}

#field {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 10px;
}

button {
    color: floralwhite;
    background-color: rgb(43, 42, 42);
    border-radius: 25px;
}

 #thanks {
    font-size: 32px;
    text-align: center;
    display: block;
    margin-bottom: 25px;
    padding: 100px;
 }

 #small_thx {
     font-size: 16px;
 }

 p {
     text-align: center;
 }

 #recommendations:after {
        content: "";
        display: table;
        clear: both;
      }
 
.recomendation {
    padding: 50px;
    float: left;
    width: 33.33%;
    text-align: right;
  }

h1 {
    border-radius: 25px;
    color:rgba(255, 255, 255, 0.692);
    background-color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
  }

table {
    text-align: left;
    padding: 50px 50px 50px 50px
    }

.list2 {
        text-align: center;
    }

.list3 {
    box-sizing: border-box;
    text-align: left;
    padding-left: 125px;
}

p {
    font-size: 18px;
}

#table {
    text-align: left;
    padding-left: 50px;
    
}

#table2 {
    text-align: right;
    padding-left: 135px;
    
}

#thx {
    font-size: 32px
}

#alphabethic {
    color: black;
    width: 23%;
    height: max-content;
    float: left;
    margin: 10px;
    padding: 5px;
}

#letter {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 25px;
}

#title_all_recommendations {
    margin:  35px 25px 15px 25px;

}

a {
    color:black;
}

a:hover {
    color:rgba(146, 146, 146, 0.55);
  }

.titles {
    font-size: 16px;
}

#first {
    text-decoration: underline;
}

#movie_letter30 {
    padding-top: 30px;
}

#left_movie {
    text-align: left;
    padding-left: 750px;
}

#flash {
    font-size: 14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

.btn-group {
    width: 100%;
}

.btn {
    background-color:rgba(51, 51, 51, 0.692) !important;
    border-radius: 0px !important;
}

.btn:hover {
    background-color:rgba(37, 37, 37, 0.55);
  }

span {
    color: white !important;
    font-size: 14px;
} 

.letter_link {
    color: white;
}


.two_column {
    display:block;
    width:100%;
  }
  
.column2 {
    width:50%; 
    float: left; 
    display: inline-block;
    text-align: center;
  }