body {
    background-color: #fcfcf5;
    font-family: 'RocknRoll One', sans-serif;
}

#movie {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#question {
    
    width: 550px;
    height: 175px;
    border-radius: 25px;
    margin-top: 50px;
    max-width: 64em;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px
}

#field {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 10px;
}

button {
    color: floralwhite;
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
}


 #thanks {
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 100px;
 }

 p {
     text-align: center;
 }


 #recommendation:after {
        content: "";
        display: table;
        clear: both;
      }
 
.recomendation {
    float: left;
    width: 33.33%;
  }