body {
    background-color: #fcfcf5;
    font-family: 'RocknRoll One', sans-serif;
}

#movie {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#question {
    
    width: 650px;
    height: 175px;
    border-radius: 25px;
    margin-top: 50px;
    max-width: 64em;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px
}

#field {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 10px;
}

button {
    color: floralwhite;
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
}


 #thanks {
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 100px;
 }

 p {
     text-align: center;
 }


 #recommendations:after {
        content: "";
        display: table;
        clear: both;
      }
 
.recomendation {
    padding: 50px;
    float: left;
    width: 33.33%;
    text-align: right;
  }



h1 {
    border-radius: 25px;
    color:rgba(255,255,255,.55);
    background-color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
  }



table {
    text-align: left;
    padding: 50px 50px 50px 50px
    }

.list2 {
        text-align: center;
    }

.list3 {
    box-sizing: border-box;
    text-align: left;
    padding-left: 100px;
}

p {
    font-size: 18px;
}

#table {
    text-align: left;
    padding-left: 50px;
    
}

#table2 {
    text-align: right;
    padding-left: 135px;
    
}

#thx {
    font-size: 24px
}

#alphabethic {
    color: black;
    width: 23%;
    height: 500px;
    float: left;
    margin: 10px;
    padding: 5px;
}

#letter {
    font-size: 20px;
    font-weight: bold;
}

#title_all_recommendations {
    margin:  35px 25px 15px 25px;

}

a {
    color:black;
}

a:hover {
    color:rgba(59, 59, 59, 0.55);
  }

.titles {
    font-size: 16px;
}

#first {
    text-decoration: underline;
}

#movie_letter30 {
    padding-top: 50px;
}

#left_movie {
    text-align: left;
    padding-left: 750px;
}