{% extends "base.html" %}

{% block title %}Letter{% endblock %}
{% block content %}
{% if movies|length == 0 %}
<p id="nothing">There is nothing to show</p>
{% endif %}
<!-- Divide a list of films if there are more than 33 (2 list), more than 66 (3 list) and more than 100 (4 lists)  -->
    {% if movies|length < 3 %}
    <div id="columns">
        {% for movie in movies %}
        <p>{{movie}}</p>
        {% endfor %}
    </div>
    {% endif %}
<!--2 colums-->
    {% if movies|length > 3 and movies|length < 10 %}
        {% set half = ((movies|length)/2)|int  %}
        {% set movies1 = movies[:half] %}
        {% set movies2 = movies[half:] %}
        <div id="columns">
            {% for movie in movies1 %}
                <div class="two_columns"><p>{{ movie }}</p></div>
            {% endfor %}
            {% for movie in movies2 %}
                <div class="two_columns"><p>{{ movie }}</p></div>
            {% endfor %}    
        </div>
    {% endif %}
<!--3 colums-->
    {% if movies|length > 10 and movies|length < 15 %}
        {% set onethird = ((movies|length)/3)|int  %}
        {% set twothird = (onethird * 2)|int %}
        {% set movies1 = movies[:onethird] %}
        {% set movies2 = movies[onethird:twothird] %}
        {% set movies3 = movies[twothird:] %}
        <div id="columns">
            {% for movie in movies1 %}
                <div class="three_columns" ><p>{{ movie }}</p></div>
            {% endfor %}
            {% for movie in movies2 %}
                <div class="three_columns"><p>{{ movie }}</p></div>
            {% endfor %}
            {% for movie in movies3 %}
                <div class="three_columns"><p>{{ movie }}</p></div>
            {% endfor %}        
        </div>
    {% endif %}
<!--4 colums-->
    {% if movies|length > 15 %}
        {% set quart = ((movies|length)/4)|int %}
        {% set half = ((movies|length)/2)|int  %}
        {% set threequart = (quart * 3)|int %}
        {% set movies1 = movies[:quart] %}
        {% set movies2 = movies[quart:half] %}
        {% set movies3 = movies[half:threequart] %}
        {% set movies4 = movies[threequart:] %}
        <div id="columns">
            {% for movie in movies1 %}
                <div class="four_columns"><p>{{ movie }}</p></div>
            {% endfor %}
            {% for movie in movies2 %}
                <div class="four_columns"><p>{{ movie }}</p></div>
            {% endfor %}
            {% for movie in movies3 %}
                <div class="four_columns"><p>{{ movie }}</p></div>
            {% endfor %}
            {% for movie in movies4 %}
                <div class="four_columns"><p>{{ movie }}</p></div>
            {% endfor %}        
        </div>
    {% endif %}
    
{% endblock %}