{% extends "base.html" %}

{% block title %}All recommendations{% endblock %}

{% block content %}
    <ul class="list-inline">
    {% for movies_list in movies.values() %}
        {% if movies_list %}
        <li class="list-inline-item"><a href="/all_recommendations/{{movies_list[0][0]}}">{{movies_list[0][0]}}</a></li>
        {% endif %}
    {% endfor %}
    {% for movies_list in others.values() %}
        {% if movies_list %}
        <li class="list-inline-item"><a href="/all_recommendations/{{movies_list[0][0]}}">{{movies_list[0][0]}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>


<!--Iteretion for all movies in dictionary. Aplication print it only if list isn't empty-->
{% for movies_list in movies.values() %}
    {% if movies_list %}
    <div id="alphabethic">
        <!--If there are 10 or less movies the aplication print all titles-->
        {% if movies_list|length <= 10 %}
            <p id="letter">{{movies_list[0][0]}}</p>
            {% for movie in movies_list %}
           <p class="titles">{{movie}}</p>
            {% endfor %}
        {% else %}
            <!--If there  are more than 10 movies the aplication print only first 9 titles end
            all show a link to a next page with all titles-->
            <p id="letter"><a href="/all_recommendations/{{movies_list[0][0]}}">{{movies_list[0][0]}} </a></p>
            <p id="first">First 10 titles:</p>
            {% for movie in movies_list[:10] %}
            <p class="titles">{{movie}}</p>
            {% endfor %}
            <p>To see all please click <a href="/all_recommendations/{{movies_list[0][0]}}">here</a></p>
        {% endif %}
    {% endif %}
    </div>
{% endfor %}
<!--Movies in others_list have starts with different characters so they need different logic-->        
{% for movies_list in others.values() %}
    <div id="alphabethic">
    {% if movies_list %}
        <!--If there are 10 or less movies the aplication print all titles-->
        {% if movies_list|length <= 10 %}
            <p id="letter">{{movies_list[0][0]}}</p>
            {% for movie in movies_list %}
            <p class="titles">{{movie}}</p>
            {% endfor %}
        {% else %}
            <p id="letter"><a href="/all_characters/{{movies_list[0][0]}}">{{movies_list[0][0]}}</a></p>
            {% for movie in movies_list[:10] %}
            <p class="titles">{{movie}}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>
{% endfor %}


 
{% endblock %}