{% extends "base.html" %}

{% block title %}Recommendations{% endblock %}

{% block content %}
<!--Most common movie-->
<div id="recommendations">
    <div class="recomendation">
        <h1>Top 10 recommendations:</h1>
        {% for movie in most_common_movie %}
        <p class="list">{{movie[0]}} {{movie[1]}}</p>
        {% else %}
        <h1>There are any recommendations for you</h1>
        {% endfor %}
    </div>
    <div class="recomendation">
        <h1>Random recommendation:</h1>
        <p class="list2">{{random_movie}}</p>
    </div>
    <div class="recomendation">
        <h1>Recent recommendations:</h1>
        {% for movie in recent_recommendations %}
        <p class="list">{{movie}}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}